# Gradle
/.gradle
/build/
/app/build/

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ / Android Studio
/.idea/
/*.iml
.gradle/
captures/

# Built application files
*.apk
*.ap_
*.aab

# Signing keys
*.jks
*.keystore
keystore.properties

# OS files
.DS_Store
Thumbs.db

# temporary files
*.log

# Kotlin/Java
*.class